@import url('https://fonts.maateen.me/kalpurush/font.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kalpurush', Arial, sans-serif !important;
  background-color: #ffffff;
}

/* ন্যাভিগেশন বার স্ক্রলবার লুকানোর জন্য */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
